.profile__name {
  margin: 0 18px 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 294px;
  width: 100%;
  word-break: keep-all;
}

@media screen and (max-width: 600px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0 10px 0 0;
  }
}
